<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Agenda">
    <meta name="author" content="e-ghost 2019">

    <title>AgendaVue</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Cambiar navegación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">AgendaVue</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contactos">Contactos</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#nuevo">Añadir contacto</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#redesSociales">Redes Sociales</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Acerca de...</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name">AgendaVue</span>
                        <hr class="star-light">
                        <span class="skills">Agenda básica en Vue</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="AppagendaVue">
        <!-- Contactos Grid Section -->
        <section id="contactos">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Contactos</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                
                <div v-if="contacts.length !== 0">
                    <div class="row">
                        <div class="col-xs-4">
                            <h4>Nombre</h4>
                        </div>
                        <div class="col-xs-4">
                            <h4>Email</h4>
                        </div>
                        <div class="col-xs-3">
                            <h4>Teléfono</h4>
                        </div>
                    </div>
                
                    <!-- con el v-for recorremos todos los elementos del modelo (los contactos) y guardo cada elemento
                    y el indice de cada uno para después eliminarlo en el array de contactos -->
                    <!-- no hace falta poner :key="index", ya que con el algoritmo propio de vue nos sirve para que 
                        diferencie los nodos del DOM -->
                    <div class="row" v-for="item in contacts" v-bind:key="item.id">
                        <div class="col-xs-4">
                            <p>{{item.data.nombre}}</p>
                        </div>
                        <div class="col-xs-4">
                            <p>{{item.data.email}}</p>
                        </div>
                        <div class="col-xs-3">
                            <p>{{item.data.telefono}}</p>
                        </div>
                        <div class="col-xs-1">
                            <button class="btn btn-danger btn-sm" @click="borrarContacto(item.id)">
                                <span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                </div>
                <div v-else>
                <div class="row">
                    <div class="col-xs-12">
                        <p>No se ha encontrado ningún contacto.</p>
                    </div>
                </div>
                </div>
            </div>
        </section>

        <!-- Añadir nuevo Section -->
        <section id="nuevo">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2>Añadir contacto</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <form name="sentMessage" id="contactForm" novalidate>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Nombre</label>
                                    <!-- hacemos que se asocie lo introducido por el usuario a uno de los campos del objeto que
                                    se crea en vue -->
                                    <input type="text" class="form-control" placeholder="Nombre" id="name" 
                                    v-model="nombre">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Email</label>
                                    <input type="email" class="form-control" placeholder="Email" id="email"
                                    v-model="email">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="row control-group">
                                <div class="form-group col-xs-12 floating-label-form-group controls">
                                    <label>Teléfono</label>
                                    <input type="tel" class="form-control" placeholder="Teléfono" id="phone"
                                    v-model="telefono">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <br>
                            <div id="success"></div>
                            <div class="row">
                                <div class="form-group col-xs-12">
                                    <!-- en el momento en el que le demos al botón de añadir, se activa el evento
                                    por click o por enter (con keyup.enter) y comprobamos si los campos son correctos.
                                    El botón estará deshabilitado hasta que todos los elemento tengan algo escrito dentro -->
                                    <button type="button" class="btn btn-success btn-lg"
                                    @click="guardarContacto" @keyup.enter="guardarContacto">Añadir</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    <!-- aquí termina el div de agendaVue -->
    </div>

     <section id="redesSociales">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Redes Sociales</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="form-group col-xs-12" id="followTwitter">
                        <a href="https://twitter.com/VueAgenda" class="twitter-follow-button" data-show-count="false" > Follow @VueAgenda</a>
                        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
                    </div>

                    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>

                    <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Hello!</p>&mdash; AgendaVue (@VueAgenda) <a href="https://twitter.com/VueAgenda/status/1344341271784136705?ref_src=twsrc%5Etfw">December 30, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                    <blockquote class="twitter-tweet"><p lang="es" dir="ltr">Bienvenidos al proyecto Vue!</p>&mdash; AgendaVue (@VueAgenda) <a href="https://twitter.com/VueAgenda/status/1344343430340763651?ref_src=twsrc%5Etfw">December 30, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                    <div class="fb-post" data-href="https://www.facebook.com/168406826549577/photos/a.560037820719807/829422783781308/" data-width="500" data-show-text="true"><blockquote cite="https://www.facebook.com/168406826549577/photos/a.560037820719807/829422783781308/?type=3" class="fb-xfbml-parse-ignore"><p>&quot;Me gusta&quot;.concat(&quot; &quot;.concat(&#039;JS&#039;));</p>Publicada por <a href="https://www.facebook.com/Javascript-en-Espa&#xf1;ol-168406826549577/">Javascript en Español</a> en&nbsp;<a href="https://www.facebook.com/168406826549577/photos/a.560037820719807/829422783781308/?type=3">Sábado, 10 de enero de 2015</a></blockquote></div>

            
                </div>
            </div>
        </div>
    </section>
    
    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Acerca de...</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>AgendaVue es un proyecto simple en VueJS.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyleft &copy; e-ghost 2019
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v9.0" nonce="jQkianHS"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
    
    <!-- Vue -->
    <script src="js/vue.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>

    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyBVbCafY3G7aD_PDBM2qSEkbK5Eie709qg",
            authDomain: "agendavue-12345.firebaseapp.com",
            databaseURL: "https://agendavue-12345-default-rtdb.firebaseio.com",
            projectId: "agendavue-12345",
            storageBucket: "agendavue-12345.appspot.com",
            messagingSenderId: "805792123473",
            appId: "1:805792123473:web:86e985986afbd0e7b74670",
        
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        const db = firebase.firestore();

    
        const coleccion = db.collection('users');
    
  

        var agendaVue = new Vue({
            el: '#AppagendaVue',
            data:{
                   
                    nombre: null, 
                    email: null, 
                    telefono: null,
                    contacts:[]
            },

            mounted(){
                this.contacts= []
                coleccion.get().then( (r) => r.docs.map( (item) => this.contacts.push({id:item.id, data:item.data()})))
            },

            methods:{
                guardarContacto(){
                  
                    coleccion.add({
                        nombre: this.nombre,
                        email: this.email,
                        telefono: this.telefono
                    }).then( ()=> this.$mount())

                    this.nombre='';
                    this.email='';
                    this.telefono='';
                    
                },
                borrarContacto(index){
                  
                    coleccion.doc(index).delete().then( () => this.$mount())
                }
            }
        })
    </script>

    <!-- Estrucuturas semánticas de schema.org -->
     <script type='application/ld+json'> 
        {
          "@context": "http://www.schema.org",
          "@type": "person",
          "name": "Amaia",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "San Sebastian",
            "addressRegion": "Guipuzcoa",
            "postalCode": "20007",
            "addressCountry": "Spain"
          },
          "email": "amaia.zarranz99@gmail.com",
          "telephone": "+34 676 345 213"
        }
     </script>
     <script type='application/ld+json'> 
         {
          "@context": "http://www.schema.org",
          "@type": "person",
          "name": "Pablo",
          "address": {
            "@type": "PostalAddress",
            "addressLocality": "Pamplona",
            "addressRegion": "Navarra",
            "postalCode": "31008",
            "addressCountry": "Spain"
          },
          "email": "pablo.sarobe99@gmail.com",
          "telephone": "+34 664 323 876"
        }
     </script>
</body>

</html>
